<a href="results">Back</a>
<br/><br/>
	<ul>
    <li><%= APP_CONFIG['p1']['title'].upcase %>
		<ul>
			<li>Formulate a clear and compelling family direction
				<ul>
					<li><%= SurveyQuestion.answer_111.question %></li>
					<li><%= SurveyQuestion.answer_112.question %></li>
					<li><%= SurveyQuestion.answer_113.question %></li>
				</ul>
			</li>
			<li>Appreciate and enjoy extended family connection
				<ul>
					<li><%= SurveyQuestion.answer_121.question %></li>
					<li><%= SurveyQuestion.answer_122.question %></li>
					<li><%= SurveyQuestion.answer_123.question %></li>
				</ul>		
			</li>
			<li>Develop paths for family communication
				<ul>
					<li><%= SurveyQuestion.answer_131.question %></li>
					<li><%= SurveyQuestion.answer_132.question %></li>
					<li><%= SurveyQuestion.answer_133.question %></li>
				</ul>
			</li>
			<li>Develop family’s community and social mission
				<ul>
					<li><%= SurveyQuestion.answer_141.question %></li>
					<li><%= SurveyQuestion.answer_142.question %></li>
					<li><%= SurveyQuestion.answer_143.question %></li>
				</ul>
			</li>
		</ul>
	</li>
    <li><%= APP_CONFIG['p2']['title'].upcase %>
    	<ul>
	    	<li>Develop structures that enable the family to achieve its purpose
				<ul>
					<li><%= SurveyQuestion.answer_211.question %></li>
					<li><%= SurveyQuestion.answer_212.question %></li>
					<li><%= SurveyQuestion.answer_213.question %></li>
				</ul>
			</li>
			<li>Formulate explicit and shared agreements for family assets
				<ul>
					<li><%= SurveyQuestion.answer_221.question %></li>
					<li><%= SurveyQuestion.answer_222.question %></li>
					<li><%= SurveyQuestion.answer_223.question %></li>
				</ul>
			</li>
			<li>Define clear liquidity and exit options
				<ul>
					<li><%= SurveyQuestion.answer_231.question %></li>
					<li><%= SurveyQuestion.answer_232.question %></li>
					<li><%= SurveyQuestion.answer_233.question %></li>
				</ul>
			</li>
		</ul>
	</li>
    <li><%= APP_CONFIG['p3']['title'].upcase %>
	    <ul>
			<li>Maintain financial accountability
				<ul>
					<li><%= SurveyQuestion.answer_311.question %></li>
					<li><%= SurveyQuestion.answer_312.question %></li>
					<li><%= SurveyQuestion.answer_313.question %></li>
				</ul>
			</li>
			<li>Oversight of family financial management
				<ul>
					<li><%= SurveyQuestion.answer_321.question %></li>
					<li><%= SurveyQuestion.answer_322.question %></li>
					<li><%= SurveyQuestion.answer_323.question %></li>
				</ul>
			</li>
			<li>Provide for continuation of wealth in future generations
				<ul>
					<li><%= SurveyQuestion.answer_331.question %></li>
					<li><%= SurveyQuestion.answer_332.question %></li>
					<li><%= SurveyQuestion.answer_333.question %></li>
				</ul>
			</li>
	    </ul>
	</li>
    <li><%= APP_CONFIG['p4']['title'].upcase %>
    	<ul>
			<li>Plan for leadership transition
				<ul>
					<li><%= SurveyQuestion.answer_411.question %></li>
					<li><%= SurveyQuestion.answer_412.question %></li>
					<li><%= SurveyQuestion.answer_413.question %></li>
				</ul>
			</li>
			<li>Develop next generation leadership
				<ul>
					<li><%= SurveyQuestion.answer_421.question %></li>
					<li><%= SurveyQuestion.answer_422.question %></li>
					<li><%= SurveyQuestion.answer_423.question %></li>
				</ul>
			</li>
			<li>Teach financial stewardship
				<ul>
					<li><%= SurveyQuestion.answer_431.question %></li>
					<li><%= SurveyQuestion.answer_432.question %></li>
					<li><%= SurveyQuestion.answer_433.question %></li>
				</ul>
			</li>
			<li>Empower individuals to seek personal fulfillment
				<ul>
					<li><%= SurveyQuestion.answer_441.question %></li>
					<li><%= SurveyQuestion.answer_442.question %></li>
					<li><%= SurveyQuestion.answer_443.question %></li>
				</ul>
			</li>
		</ul>
	</li>
  	</ul>