<fieldset id="admin_edit">
<legend>Edit Admin Info</legend>

 <% form_for :administrator, @admin, :url => { :action => :edit } do |f| -%>
   <%= error_messages_for :admin %>

    <div class="user-field">
      <label for="last_name">Last Name:</label><br/>
      <%= f.text_field :last_name %>
    </div>

    <p><label for="first_name">First Name:</label><br/>
    <%= f.text_field :first_name %> <br/>

	<p><label for="login">Login:</label><br/>
	<%= f.text_field :login %> <br/>
	<cite>Ex., aedenfield</cite>

	<p><label for="email">Email:</label><br/>
	<%= f.text_field :email %><br/>
	<cite>Ex., amy@zepho.com. A valid email is required for an active account.</cite>

	<p><label for="password">Password:</label><br/>
	<%= f.password_field :password %><br/>
	<cite>Enter the password that is between 4 and 40 characters in length.</cite>

	<p><label for="password_confirmation">Confirm Password:</label><br/>
	<%= f.password_field :password_confirmation %><br/>
	<cite>Enter the same password as above.</cite>

  <p><%= submit_tag 'Update' %></p>
<% end %>

<%= button_to :cancel, :action => :index %>

</fieldset>