<ul>
	<li><%= link_to "Start Survey", :controller => :survey, :action => :start_survey %></li>
	<li><%= link_to "Survey Page 1", :controller => :survey, :action => :page, :survey_page_num => 1 %></li>
	<li><%= link_to "Survey Page 2", :controller => :survey, :action => :page, :survey_page_num => 2 %></li>
	<li><%= link_to "Survey Page 3", :controller => :survey, :action => :page, :survey_page_num => 3 %></li>
	<li><%= link_to "Survey Page 4", :controller => :survey, :action => :page, :survey_page_num => 4 %></li>
	<li><%= link_to "Survey Results", :controller => :survey, :action => :results %></li>
	<li><%= link_to "Strengths and Improvement", :controller => :survey, :action => :strengths_and_improvement %></li>
</ul>